@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-100: #ffffff;
    --gray-200: #fafafa;
    --gray-300: #c4c4c4;
    --gray-400: #b2b2b2;
    --gray-500: #808080;
    --gray-900: #000000;

    --blue-600: #2b3844;
    --blue-700: #202c36;
    --blue-800: #111517;

    --skeleton: 98, 131, 56;

    --header-height: 5rem;
  }

  input {
    background: none;
  }

  input::placeholder {
    color: inherit;
  }

  .max-w-wrapper > :first-child {
    max-width: 80rem;
    margin: 0 auto;
  }

  html {
    overflow-y: scroll;
  }

  body {
    --body-text: var(--gray-100);
    --body-bg: var(--blue-700);
    --bg-card: var(--blue-600);
    --mode-icon: url("/icon-dark-mode.svg");
    --search-icon: url("/icon-search.svg");
    --down-arrow-icon: url("/icon-down-arrow.svg");

    font-family: "Nunito Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--body-text);
    background-color: var(--body-bg);
  }

  body.light {
    --body-text: var(--blue-800);
    --body-bg: var(--gray-200);
    --bg-card: var(--gray-100);

    --mode-icon: url("/icon-light-mode.svg");
    --search-icon: url("/icon-search-light.svg");
    --down-arrow-icon: url("/icon-down-arrow-light.svg");
  }

  #__next {
    min-height: 100vh;
  }

  .skeleton {
    position: relative;
  }

  .skeleton::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    animation: skeleton infinite 1s ease-in;
    animation-delay: 500ms;
  }

  @keyframes skeleton {
    0% {
      background: radial-gradient(rgba(var(--skeleton), 0.5), transparent);
    }
    100% {
      background: radial-gradient(rgba(var(--skeleton), 1), transparent);
    }
  }
}

@layer utilities {
  .h-header {
    min-height: var(--header-height);
  }

  .h-main {
    min-height: calc(100vh - var(--header-height));
  }
}
