@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-100: #ffffff;
    --gray-200: #fafafa;
    --gray-300: #c4c4c4;
    --gray-400: #b2b2b2;
    --gray-500: #808080;
    --gray-900: #000000;

    --blue-600: #2b3844;
    --blue-700: #202c36;
    --blue-800: #111517;

    --header-height: 5rem;
  }

  input {
    background: none;
  }

  .max-w-wrapper > :first-child {
    max-width: 80rem;
    margin: 0 auto;
  }

  body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--gray-100);
    background-color: var(--blue-700);
  }

  #__next {
    min-height: 100vh;
  }
}

@layer utilities {
  .h-header {
    min-height: var(--header-height);
  }

  .h-main {
    min-height: calc(100vh - var(--header-height));
  }
}
